<!doctype html>
<html lang="en">
<head>
    <title>Shopping App</title>
    <meta charset="utf-8">
    {% block head %}

    {% endblock head %}


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .errorlist{color:red;}

    </style>

</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="collapsibleNavbar">

            <span style="color: Mediumslateblue;">
                <i class="fas fa-shopping-bag fa-lg ml-5"></i>
            </span>
            <form onsubmit="return false;" class="form-inline my-2 my-lg-0 ml-5" method="GET">
                <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search for products" aria-label="Search">
                <button onclick="searchProduct(event)" type="submit"  class="btn btn-outline-success">Search</button>
<!--                <a href="{% url 'product-page' %}?search={{tshirt}}" class="btn btn-outline-success">Search</a>-->
            </form>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item " id="user">
                        <div style="color:yellow;" class="nav-link" href="{% url 'account-page' %}">Welcome {{user}}</div>
                    </li>

                    <li class="nav-item" id="home">
                        <a class="nav-link" href="{% url 'product-page' %}">Home</a>
                    </li>
                    {% if user.is_superuser %}
                        <li class="nav-item" id="add-product">
                            <a class="nav-link" href="{% url 'add-product' %}">Add Product</a>
                        </li>
                    {% endif %}
                    <li class="nav-item" id="account">
                        <a class="nav-link" href="{% url 'account-page' %}">Account</a>
                    </li>
                    <li class="nav-item" id="mycart">
                        <a class="nav-link" href="{% url 'my-cart' %}">Cart</a>
                    </li>

                    <li class="nav-item" id="orders">
                        <a class="nav-link" href="{% url 'past-orders' %}">Orders</a>
                    </li>
                    <li class="nav-item" id="logout">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>


                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registration' %}">Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert {{ message.tags }} m-2">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}

    {% endblock  %}

</body>
<script>

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function searchProduct(e){
        e.preventDefault();

        var input = document.getElementById("search");
        var data = {search:input.value}
        location.href = `{% url 'product-page' %}?search=${encodeURIComponent(data.search)}`;

    }
</script>

</html>