{% extends 'base.html'  %}
{% load rest_framework %}
{% block content %}
<style>
    .add-product-form{
        margin-left:80px;
        margin-right:80px;
    }
    .help-block{
        color:red;
    }
    .add-product{
        position: relative;
        animation-name: example;
        animation-duration: 4s;
    }
    @keyframes example {
        0%   {left:0px; top:0px;}
        50%  {background-color:#34a8eb; left:200px; top:0px;}

    }

</style>
<div class="add-product" style="margin-top:10px; text-align: center;">
    <h3>Add Product</h3>
</div>
<form class="add-product-form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% render_form serializer %}

    <input style="margin-bottom:10px" class="btn btn-outline-primary" type="submit" value="Add Product">
</form>

{% endblock  %}