{% extends 'base.html'  %}
{% load static %}
{% load rest_framework %}
{% block content %}
<style>
    body{
        background-color:#434756;
    }


    .container{
        margin-top:40px;
    }

    #product-section{
        margin-top:30px;
        margin-left:60px;
        margin-right:60px;
    }

    .zoom {
        transition: transform .2s;
    }

    .zoom:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2);
    }

</style>

<section class="text-center mb-4" id="product-section">
    <div class="btn-group mb-5 float-right">
        <button type="button" class="ml-2 btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item"  onclick="alertMe(event)">Price:High to Low</a>
            <a class="dropdown-item" onclick="alertMe2(event)">Price:Low to High</a>
            <a class="dropdown-item" onclick="alertMe3(event)">What's New ?</a>
        </div>
    </div>
    <div class="btn-group mb-5 float-right">
        {% include 'filters.html' %}
    </div>
    <div class="row wow fadeIn">
        {% for product in serializer %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="view overlay">
<!--                            {% comment %} <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top" {% endcomment %}-->
                        <a href="{% url 'product-details' product.id %}"><img height="200px" width="200px" src="{{ product.image }}" class="zoom card-img-top"></a>
                    </div>
                    <div class="card-body text-center">
                        <a href="" class="grey-text">
                            <h5>{{ product.name }}</h5>
                        </a>
                        <h5>
                            <strong>
                                <h4 style="color:#007bff;">
                                   Rs.{{product.price}}
                                </h4>
                            </strong>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<div class="text-xs-center">
    <ul class="pagination" style="margin-left:600px;">
        {% for page in pages %}
            <li class="page-item"><a class="page-link" href="{% url 'product-page' %}?page={{page}}">{{page}}</a></li>
        {% endfor %}
    </ul>
</div>

<script>
    function alertMe(e){
        e.preventDefault();
        location.href = `{% url 'product-page' %}?order_by=price`;
    }

    function alertMe2(e){
        e.preventDefault();
        location.href= `{% url 'product-page' %}?order_by1=price`;
    }

    function alertMe3(e){
        e.preventDefault();
        location.href= `{% url 'product-page' %}?whats_new=id`;
    }

</script>

{% endblock  %}